body{
    background-color: aqua;
}
h1{
    color: crimson;
    text-align: center;
}
p{
    color: crimson;
}
div{
    background-color: green;
    margin: auto;
    padding: 20px;
    width: 500px;
}